<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>timego</title>
    <!-- Css  -->
    <link rel="stylesheet" href="/css/bookedshows.css">
</head>
<body>
    <header>
        <div class="header">
            <a href="#" class="logo"><h1>TimeGo</h1></a>
            <nav class="navbar">
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="about">AboutUs</a></li>
                    <li><a href="event">Events</a></li>
                    <li><a href="bookedshows">Booked Shows</a></li>
                    <li><a href="contact">ContactUs</a></li>
                    <li><a href="login">login</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        
        <section class="section">
            <div class="confirm" id="confirm" style="display: block;">
                <h1>We had Yours Pre-Booking Details?</h1>
                <h3>Change in your orders and cancel the booking. <a href="/user/prebook" class="linktext">Look here!</a> </h3>
            </div>
            
            <div class="login" id="" style="display: block;">
                <div class="login-container" >
                    <h2>Login</h2>
                    <form id="loginForm" >
                      <div class="input-group">
                        <label for="username">Username</label>
                        <input
                          type="text"
                          id="username"
                          name="username"
                          placeholder="Enter your username"
                          required
                        />
                      </div>
                      <div class="input-group">
                        <label for="password">Password</label>
                        <input
                          type="password"
                          id="password"
                          name="password"
                          placeholder="Enter your password"
                          required
                        />
                      </div>
                      <button class="btn1" type="submit" id="done"><a href="#">Login</a></button><br>
                      <h1 style="font-size: 15px;text-align: left;margin-top: 10px;">If not signUp, Kindly look on login page for confirmation? 
                        <a href="#">SignUp Now</a></h1>
                </div>           
          </section>
          
    </main>
    <footer class="footer">
      <div class="footer-bottom">
        <p>&copy; 2025 TimeGo Company. All Rights Reserved.</p>
      </div>
    </footer>    
    

    <script src="/js/script.js"></script>

</body>
</html>
